.btns-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  width: 100%;

  .btn {
    grid-column: span 2;
    width: 100%;
  }

  .short {
    grid-column: span 1;
    width: auto;
  }

  .short:first-of-type {
    grid-column: 1;
  }

  .short:last-of-type {
    grid-column: 2;
  }
}