.paste-options {
  position: fixed;
  z-index: 10;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100svh;
  margin: 0;
  border: none;
  background-color: rgb(0 0 0 / 50%);
  backdrop-filter: blur(5px);

  &_container {
    z-index: 11;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    padding: 16px;
    border-radius: 10px;
    background: #333;

    &__textarea {
      resize: none;
      grid-column: span 2 / span 2;
      grid-row: span 4 / span 4;
      padding: 0.5rem;
      border-radius: 5px;
    }

    &__btn:nth-child(1) {
      grid-row-start: 5;
    }

    &__btn:nth-child(2) {
      grid-row-start: 5;
    }

    .error-message {
      grid-column: span 2;
      margin-top: 8px;
      color: #ff6b6b;
      text-align: center;
    }
  }
}
