.wheel-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}

.wheel-canvas {
  max-width: 100%;
  height: auto;
}

.controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.picked-elem {
  width: 70%;
  padding: 8px 32px;
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s ease-in;
}

@media (prefers-color-scheme: light) {
  .picked-elem {
    background: transparent;
  }
}